*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}
h1{
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-shadow: 5px -1px  20px  white;
 
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: crimson;
}


#container div{
    margin: 20px;
    width: 200px;
}

#container{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.beauti{
    margin-top: 20px;
    background-color: none;
    color:  crimson;
   

}


img{
    
    border: 1px solid black;
    border-radius: 100px;
   
}

img:hover{
    transition-duration: 1s;
    box-shadow: -2px -2px 8px  rgb(255, 255, 255),
    2px 2px 8px  rgb(255, 255, 255);
}

u{
    color: aliceblue;
}


@media screen and (max-width:600px) {

    .beauti{
        color: rgb(38, 3, 112);
    }
    
}